<a href="https://colab.research.google.com/github/csaatechnicalarts/ML_Bootcamp/blob/main/Pandas_02_SeriesIntro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#02 Pandas Data Structure: Series

In Pandas the *series* is one of the core data structures for computation.  A series is a one-dimensional array with labeled index. Like a Python array, a series is an ordered data type: it's elements can be indexed with the **[ ]** notation. Element types can be heterogeneous; the index must be a hashable type.While each element of a series is mutable, the length of the series itself can never be updated.

For this notebook, we're going to demonstrate Pandas series using "ww2_leaders.csv" file that we load before hand to Google Colab.

In [14]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv("sample_data/ww2_leaders.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     12 non-null     object
 1   Born     12 non-null     object
 2   Died     12 non-null     object
 3   Age      12 non-null     int64
 4   Title    12 non-null     object
 5   Country  12 non-null     object
dtypes: int64(1), object(5)
memory usage: 708.0+ bytes

In [16]:
df

,Name,Born,Died,Age,Title,Country
0,Franklin Roosevelt,1882-01-30,1945-04-12,63,President,United States
1,Joseph Stalin,1878-12-06,1953-03-05,74,Great Leader,Soviet Union
2,Adolph Hitler,1889-04-20,1945-04-30,56,Fuhrer,Germany
3,Michinomiya Hirohito,1901-04-29,1989-01-07,87,Emperor,Japan
4,Charles de Gaulle,1890-11-22,1970-11-09,79,President,France
5,Winston Churchill,1874-11-30,1965-01-24,90,Prime Minister,United Kingdom
6,Manuel Camacho,1897-04-24,1955-10-13,58,President,Mexico
7,Jan Smuts,1870-05-24,1950-09-11,80,Prime Minister,South Africa
8,Ibn Saud,1875-01-15,1953-11-09,78,King,Saudi Arabia
9,Plaek Phibunsongkhram,1897-07-14,1965-06-11,66,Prime Minister,Thailand
10,John Curtin,1885-01-08,1945-07-05,60,Prime Minister,Australia
11,Haile Selassie,1892-07-23,1975-08-27,83,Emperor,Ethiopia

Recall that a Pandas data frame is a two-dimensional collection made up of rows and columns. Conceptually a data frame row is equivalent to a Pandas series. Using the *loc[]* method, we can index a row and provision a new series with it.

In [34]:
deGaule = 4
s = pd.Series(df.loc[deGaule])
print(f"{s}\n\nType of s: {type(s)}")

Name       Charles de Gaulle
Born              1890-11-22
Died              1970-11-09
Age                       79
Title              President
Country               France
Name: 4, dtype: object

Type of s: <class 'pandas.core.series.Series'>

A series is made up of a collection of labels (column indices) and a collection of elements (rows). We use the *keys()* method and the *values* attribute to retrieve each list accordingly. Just like arrays in Python, we can index into specific elements in the keys and values of a series.

In [18]:
print(f"{s.keys()}\n\n{s.keys()[0]}\n{s.keys()[3]}")

Index(['Name', 'Born', 'Died', 'Age', 'Title', 'Country'], dtype='object')

Name
Age

In [21]:
print(s.values)

['Charles de Gaulle' '1890-11-22' '1970-11-09' np.int64(79) 'President'
 'France']

In [29]:
print(f"Name:\t\t{s.values[0]}\nCountry:\t{s.values[5]}\nAge:\t\t{s.values[3]}")

Name:		Charles de Gaulle
Country:	France
Age:		79

Can we create our own series object on the fly? Yes, by using Panda's *Series()* method and passing as parameters a list of values.

In [31]:
s = pd.Series(['AAA', 32.4907, 100])

In [39]:
print(f"{s}\n\nType of s: {type(s)}")

word           AAA
float      32.4907
integer        100
dtype: object

Type of s: <class 'pandas.core.series.Series'>

By default Pandas will assign integers as indices or labels to the series we've just created. If we wanted to provision a series and specify the labels, we do so by passing a second parameter to *Series()*.

In [35]:
s = pd.Series(['AAA', 32.4907, 100], index=['word', 'float', 'integer'])

In [38]:
print(f"{s}\n\nType of s: {type(s)}")

word           AAA
float      32.4907
integer        100
dtype: object

Type of s: <class 'pandas.core.series.Series'>